# Xcode
## User settings
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdatad

## Build generated
build/
DerivedData/
*.moved-aside
*.xcuserstate

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

## Tool caches
.module-cache*
